/* parte um */

.info-section {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 57px;
    padding: 5px;
    box-shadow: 0px 10px 8px 4px rgba(104, 104, 104, 0.045);
}

.info-section .info-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.info-section .card {
    margin-bottom: 170px;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 27px;
    box-shadow: -10px 10px 0px 0px var(--black);
    background-color: var(--black);
    color: var(--ghostwhite);
    width: 300px;
    height: auto;
}

.info-section .profilepic{
    border-radius: 50%;
    margin-bottom: 2vh;
    border: solid ghostwhite;
}

.info-section .butGetCv {
    background-color: var(--black);
    border-radius: 17px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: var(--skyBlue);
    color: var(--ghostwhite);
    border: solid ghostwhite;
}

.info-section .butGetCv>a:hover {
    color: var(--skyBlue);
}

@media screen and (min-width: 768px) {
    .info-section .info-card {
        margin: 60px;
    }

}

.info-text{
    text-align: end;
}

.genres{
    color: var(--red);
}

.genres2{
    color: var(--green);
}

.text-home{
    max-width: 310px;
    border-radius: 20px;
    margin-bottom: 0px;
    color: ghostwhite;
    
}

.section-one{
    background-color: var(--black);
    color: var(--ghostwhite);
    margin: auto;
    padding: 1.5rem;
    box-shadow: 0px 15px 0px 0px rgba(22, 22, 22, 0.726);
}

.main-tittle{
    text-align: center;
    font-size: 2.0rem;
    margin: 10px;
}

/* Parte dois */

.setsection{
    background-color: var(--seaBlue);
}

.section-two {
    background-color: var(--skyBlue);
    text-align: center;
    color: var(--ghostwhite);
    padding: 2vh;
    position: sticky;
    height: max-content;
    box-shadow: 0px 15px 0px 0px black;
}

.audio-set {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 60px 30px 60px 30px;
}

.audio-set iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: -20px 20px 0px 0px rgba(22, 22, 22, 0.999);
}

.audios-tittle {
    margin: 30px 0px -30px 14px;
    color: ghostwhite;
}

@media screen and (min-width: 1000px) {
    .audio-set iframe {
        max-width: 80%;
    }

    .audio-set {
        margin: 50px;
    }

    .audios-tittle {
        margin: 22px 0px -30px 160px;
    }

    .audio-genre {
        font-weight: bolder;
    }
}

@media screen and (max-width: 360px) {
    .audio-set{
        margin: 40px 5px 40px 10px;
    }
    .audio-set iframe{
        width: 92%;
    }

    .audios-tittle {
        padding-left: 0;
        text-align: start;
    }

    .audio-genre {
        text-align: center;
    }
}

.carousel-color{
    background-color: var(--seaBlue);
}

.tittle-other-sections-1{
    text-align: left;
}

.contact{
    background-color: var(--red);
}

.setsection{
    box-shadow: 0px 15px 0px 0px rgba(22, 22, 22, 0.726);
}