footer {
    display: flex;
    flex-direction: column;
    background-color: var(--skyBlue);
    text-align: center;
    color: var(--ghostwhite);
    padding: 2vh;
    height: max-content;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.logo-footer{
    height: auto;
    width: 40px;
}

footer > p{
    padding: 5px;
}

.soundcloud{
    height: 24px;
}

.gmail{
    height: 35px;
}

.social-links{
    list-style-type: none;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}